<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecera-principal">BARRA DE HERRAMIENTAS</header>
    <section class="seccion-principal">
        <aside>CONTENIDO SECUNDARIO</aside>
        <main class="main-principal">
            <header>SUB BARRA DE HERRAMIENTAS</header>
            <section>Soy la seccion grande</section>
        </main>
    </section>
    <script type="text/javascript">_</script>
</body>
</html>