.seccion-principal {
    display: grid;
    grid-template-columns: 35% 65%;
    border: 5px solid #FF0000;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.seccion-contactos {
    background: #FFFFFF;
    width: 433px;
    height: 1014px;
    border: 5px solid #5DFF11;
    box-sizing: border-box;
}

.caja-contactos {
    width: auto;
    height: 225px;
    background: #FFFFFF;
    border: 5px solid #2400FF;
    box-sizing: border-box;
    text-align: center;
    padding: 80px;
    font-size: 24px;
}

.lista-contactos {
    width: auto;
    height: 779px;
    background: #FFFFFF;
    border: 5px solid #FBFF3E;
    box-sizing: border-box;
    text-align: left;
}

.contacto-1 {
    width: auto;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 100px;
}

.contacto-2 {
    width: auto;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;   
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 100px;
}

.contacto-3 {
    width: auto;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;   
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 100px;
}

.contacto-4 {
    width: auto;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;  
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 100px;
}

.contacto-5 {
    width: auto;
    height: 143px;
    background: #FFFFFF;
    border: 5px solid #2EFFFF;
    box-sizing: border-box;  
    padding-right: 40px;
    padding-left: 10px;
    padding-top: 100px;
}

.panel-mensajes {
    width: auto;
    height: 1014px;
    background: #FFFFFF;
    border: 5px solid #E01FFF;
    box-sizing: border-box;
}

.historial-comentarios {
    width: auto;
    height: 779px;
    background: #FFFFFF;
    border: 5px solid #00F0FF;
    box-sizing: border-box;
}

.contacto-vigente {
    width: auto;
    height: 225px;
    background: #FFFFFF;
    border: 5px solid #2400FF;
    box-sizing: border-box;
    text-align: center;
    padding: 80px;
    font-size: 24px;
}

.historial-conversacion {
    width: auto;
    height: 623px;
    background: #FFFFFF;
    border: 5px solid #717171;
    box-sizing: border-box;
}

.caja-comentarios {
    width: auto;
    height: 146px;
    background: #FFFFFF;
    border: 5px solid #158C12;
    box-sizing: border-box;
    font-size: 24px;
    padding: 60px;
}